<center>
  <% flash.each do |key, value| %>
    <div class="alert alert-danger">
    <%= value %>
    </div>
  <% end %>
<MainTitle> Sign In </MainTitle>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(:session, url: sessions_path) do |f| %>
        
    <br>
      <%= f.text_field :email, :placeholder => "Email" %>
      <br>
      <%= f.password_field :password, :placeholder => "Password" %>
      <br>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", '#' %></p>
  </div>
</div>

</center>
