<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class = "alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="input-group">
    <%= f.text_field :name, :placeholder => "First Last"%>
  </div>

  <div class="field">
    <%= f.text_field :email, :placeholder => "Email"%>
  </div>
  
  <div class="field">
    <%= f.password_field :password, :placeholder => "Password"%>
  </div>
  
  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password"%>
  </div>

  </br>
  
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary" %>
  </div>


<% end %>
