<!-- <div class="row">
  <div style="background:url(http://static.simpledesktops.com/uploads/desktops/2014/04/24/rainyDay_2880x1800.png) no-repeat center center fixed; padding-top:260px; top:0; left:0; height:350px; position:absolute; width:100%; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; -moz-box-shadow:inset 0px 0px 10px #000000; -webkit-box-shadow:inset 0px 0px 10px #000000; box-shadow:inset 0px 0px 10px #000000; z-index:-99;">
  </div>
</div> -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="profile-wrap" style="background:url(<%= @user.picture_url %>); background-size:cover; background-repeat:no-repeat; background-position:50% 35%;">

</div> 



<%= content_tag(:div, notice, class: "alert alert-success alert-dismissable") if notice != nil %>



<div class="col-md-3">
<!-- LEFT COLUMN -->
  <div class="list-group">
    <a href="#" class="list-group-item">
      <span class="badge">98</span>
      Friends
    </a> 
    <a href="/interests" class="list-group-item">
      <span class="badge"><%= @user.interests.count %></span>
      Interests
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">9</span>
      Events
    </a>
  </div>
  <div class="list-group">
      <li class="list-group-item" style="background-color:#c8c8c8; border-color:#c8c8c8;">Popular</li>
    <% Interest.all.each do |f| %>
    <a href="#" class="list-group-item">
      <span class="badge"><%=f.users.count%></span>
      <%= f.name %>
    </a>
    <% end %> 
  </div>
</div>


<div class="col-md-6">
<!-- MIDDLE COLUMN -->

<div id="profile">
  <%= gravatar_for @user %> 
  <UserName> <%= @user.name %> </UserName> <br>
</div>

<br>

<div class="jumbotron">
  <h2>Basic Info</h2>
  <p>

    <strong>Email</strong>
    <%= @user.email %>
  <br>
    <strong>Attended</strong>
    <% if @user.schools.first != nil %>
      <%= @user.schools.first.name %>
    <% else %>
      Unknown
    <% end %> 
  <br>
    <strong>Works at</strong>
    <% if @user.workplaces.first != nil %>
      <%= @user.workplaces.first.name %>
    <% else %>
      Unknown
    <% end %> 
  <br>
    <strong>Lives in</strong>
    <% if @user.locations.first != nil %>
      <%= @user.locations.first.name %>
    <% else %>
      Unknown
    <% end %>

  </p>
  <h2> My Interests</h2>
  <% @user.interests.each do |interest| %>
    <p>
      <%= interest.name %>
    </p>
  <% end %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div> 


<br>


</div>
<div class="col-md-3">
<!-- RIGHT COLUMN -->

  <!-- FAVORITE INTERESTS -->
  <% @user.interests.each do |interest| %>
    <div class="FavIntsCol">
      <div class="FavIntsImg" style="background:url(<%= interest.picture_url %>); background-size:cover; background-repeat:no-repeat; background-position:50% 50%;">
        <div class="col-md-12">
          <center><FavIntsNameCol style="color:white;"><%= interest.name %></FavIntsNameCol></center>
        </div> 
      </div>
    </div>
  <% end %>

</div> 