<div id="profile-wrap">
  <div id="profile">
    <%= gravatar_for @user %> 
    <UserName> <%= @user.name %> </UserName> <br>
  </div>
</div>



<br>
<br> 
<br>
<br> 
<br>
<br> 
<br>
<br> 
<br>
<br> 
<br>
<br> 
<br>
<br> 
<br>
<br> 
<br>
<br> 
<br>


<%= content_tag(:div, notice, class: "alert alert-success alert-dismissable") if notice != nil %>



<div class="row">
  <div class="col-md-3">
<!-- RIGHT COLUMN -->
    <div class="list-group">
      <a href="#" class="list-group-item">
        <span class="badge">98</span>
        Friends
      </a> 
      <a href="/interests" class="list-group-item">
        <span class="badge">107</span>
        Interests
      </a>
      <a href="#" class="list-group-item">
        <span class="badge">9</span>
        Events
      </a>
    </div>
    <div class="list-group">
        <li class="list-group-item">Trending</li>
      <% (1..10).each do |f| %>
      <a href="#" class="list-group-item">
        <span class="badge">##</span>
        Interest Name
      </a>
      <% end %> 
    </div>
  </div>
  
  
  <div class="col-md-6">
<!-- MIDDLE COLUMN -->
    <div class="jumbotron">
    <h2>Basic Info</h2>
    <p>

      <strong>Email</strong>
      <%= @user.email %>
    <br>
      <strong>Attended</strong>
      <% if @user.schools.first != nil %>
        <%= @user.schools.first.name %>
      <% else %>
        Unknown
      <% end %> 
    <br>
      <strong>Work at</strong>
      <% if @user.workplaces.first != nil %>
        <%= @user.workplaces.first.name %>
      <% else %>
        Unknown
      <% end %> 
    <br>
      <strong>Live in</strong>
      <% if @user.locations.first != nil %>
        <%= @user.locations.first.name %>
      <% else %>
        Unknown
      <% end %>

    </p>
    <h2> My Interests</h2>
    <% @user.interests.each do |interest| %>
      <p>
        <%= interest.name %>
      </p>
    <% end %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div> 




<br>


  </div>
  <div class="col-md-3">
<!-- RIGHT COLUMN -->


  <!-- FAVORITE INTERESTS -->
      <div id="FavInts">
        <div class="FavIntsImg1">
          <div class="col-md-2">
            <FavIntsInfoNotif>
              <span class="label label-danger">New</span>
            </FavIntsInfoNotif>
          </div>
          <div class="col-md-8">
          </div>
          <div class="col-md-2">
            <div id="FavIntsStar"><i class="fa fa-star fa-lg"></i></div>
          </div>
        </div>
        <div class="col-md-2">
          <!-- LEFT INFO COLUMN -->
          <FavIntsInfoNotif>
            <span class="label label-info">Music</span>
          </FavIntsInfoNotif>
        </div>
        <div class="col-md-8">
          <!-- MIDDLE INFO COLUMN -->
          <center><FavIntsName>deaudmau5</FavIntsName></center>
        </div>
        <div class="col-md-2">
          <!-- RIGHT INFO COLUMN -->
          <FavIntsBadge>
            <span class="badge">683</span>
          </FavIntsBadge>
        </div>
      </div>

      <br>

      <div id="FavInts">
        <div class="FavIntsImg2">
          <div class="col-md-2">
            <!-- <FavIntsInfoNotif>
              <span class="label label-danger">New</span>
            </FavIntsInfoNotif> -->
          </div>
          <div class="col-md-8">
          </div>
          <div class="col-md-2">
            <div id="FavIntsStar"><i class="fa fa-star fa-lg"></i></div>
          </div>
        </div>
        <div class="col-md-2">
          <!-- LEFT INFO COLUMN -->
          <FavIntsInfoNotif>
            <span class="label label-info">Movies</span>
          </FavIntsInfoNotif>
        </div>
        <div class="col-md-8">
          <!-- MIDDLE INFO COLUMN -->
          <center><FavIntsName>The Dark Knight Rises</FavIntsName></center>
        </div>
        <div class="col-md-2">
          <!-- RIGHT INFO COLUMN -->
          <FavIntsBadge>
            <span class="badge">239</span>
          </FavIntsBadge>
        </div>
      </div>

      <br> 

      <div id="FavInts">
        <div class="FavIntsImg3">
          <div class="col-md-2">
            <FavIntsInfoNotif>
              <span class="label label-danger">New</span>
            </FavIntsInfoNotif>
          </div>
          <div class="col-md-8">
          </div>
          <div class="col-md-2">
            <div id="FavIntsStar"><i class="fa fa-star fa-lg"></i></div>
          </div>
        </div>
        <div class="col-md-2">
          <!-- LEFT INFO COLUMN -->
          <FavIntsInfoNotif>
            <span class="label label-info">Sports</span>
          </FavIntsInfoNotif>
        </div>
        <div class="col-md-8">
          <!-- MIDDLE INFO COLUMN -->
          <center><FavIntsName>Toronto Maple Leafs</FavIntsName></center>
        </div>
        <div class="col-md-2">
          <!-- RIGHT INFO COLUMN -->
          <FavIntsBadge>
            <span class="badge">842</span>
          </FavIntsBadge>
        </div>
      </div>

      <br>

      <div id="FavInts">
        <div class="FavIntsImg4">
          <div class="col-md-2">
            <FavIntsInfoNotif>
              <span class="label label-danger">New</span>
            </FavIntsInfoNotif>
          </div>
          <div class="col-md-8">
          </div>
          <div class="col-md-2">
            <div id="FavIntsStar"><i class="fa fa-star fa-lg"></i></div>
          </div>
        </div>
        <div class="col-md-2">
          <!-- LEFT INFO COLUMN -->
          <FavIntsInfoNotif>
            <span class="label label-info">Extreme</span>
          </FavIntsInfoNotif>
        </div>
        <div class="col-md-8">
          <!-- MIDDLE INFO COLUMN -->
          <center><FavIntsName>Sky Diving</FavIntsName></center>
        </div>
        <div class="col-md-2">
          <!-- RIGHT INFO COLUMN -->
          <FavIntsBadge>
            <span class="badge">967</span>
          </FavIntsBadge>
        </div>
      </div>

      <br>

      <div id="FavInts">
        <div class="FavIntsImg5">
          <div class="col-md-2">
            <!-- <FavIntsInfoNotif>
              <span class="label label-danger">New</span>
            </FavIntsInfoNotif> -->
          </div>
          <div class="col-md-8">
          </div>
          <div class="col-md-2">
            <div id="FavIntsStar"><i class="fa fa-star fa-lg"></i></div>
          </div>
        </div>
        <div class="col-md-2">
          <!-- LEFT INFO COLUMN -->
          <FavIntsInfoNotif>
            <span class="label label-info">Outdoors</span>
          </FavIntsInfoNotif>
        </div>
        <div class="col-md-8">
          <!-- MIDDLE INFO COLUMN -->
          <center><FavIntsName>Group Running</FavIntsName></center>
        </div>
        <div class="col-md-2">
          <!-- RIGHT INFO COLUMN -->
          <FavIntsBadge>
            <span class="badge">622</span>
          </FavIntsBadge>
        </div>
      </div>

      <br>

  </div> 
</div>