<div class="row">
  <aside class="span4">
    <section>
      <h2><strong>
      <div class="jumbotron">
        <%= gravatar_for @user %><br>
        <%= @user.name %> 
        </div>
      </strong></h2>
    </section>
  </aside>
</div>
<%= content_tag(:div, notice, class: "alert alert-success alert-dismissable") if notice != nil %>
<h2>Basic Info</h2>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>Interests</h2>
<% @user.interests.each do |interest| %>
  <p>
    <strong>Name:</strong>
    <%= interest.name %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
