<!-- SIDEBAR -->
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Start Bootstrap</a>
            </li>

		    <center>
			    <div class="form-group">
			        <input type="text" class="form-control" id="interest_search" placeholder="Search Interests">
			    </div>
			</center>

            <li>
				<a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#teams">
					Teams
				</a>
				<div id="teams" class="collapse out">
					<ul class="nav nav-list">
					  <li class="active"><a href="#">Hockey</a></li>
					  <li><a href="#">Basketball</a></li>
					  <li><a href="#">Baseball</a></li>
					</ul>
				</div>
			</li>

            <li><a href="#">Sports</a>


			<li>
				<a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#fooddrink">
					Food and Drink
				</a>
				<div id="fooddrink" class="collapse out">
					<ul class="nav nav-list">
					  <li class="active"><a href="#">Breakfast</a></li>
					  <li><a href="#">Lunch</a></li>
					  <li><a href="#">Dinner</a></li>
					  <li><a href="#">Drinks</a></li>
					  <li><a href="#">Coffee</a></li>
					</ul>
				</div>
			</li>


            </li>
            <li><a href="#">People</a>
            </li>
            <li><a href="#">Music</a>
            </li>
			<li>
				<a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#movies">
					Movies
				</a>
				<div id="movies" class="collapse out">
					<ul class="nav nav-list">
					  <li class="active"><a href="#">Action and Adventure</a></li>
					  <li><a href="#">Animation</a></li>
					  <li><a href="#">Comedy</a></li>
					  <li><a href="#">Documentary and Biography</a></li>
					  <li><a href="#">Drama</a></li>
					  <li><a href="#">Family</a></li>
					  <li><a href="#">Fantasy</a></li>
					  <li><a href="#">Horror</a></li>
					  <li><a href="#">Music</a></li>
					  <li><a href="#">Mystery</a></li>
					  <li><a href="#">Romance</a></li>
					  <li><a href="#">Science-Fiction</a></li>
					  <li><a href="#">Sport</a></li>
					  <li><a href="#">Thriller</a></li>
					</ul>
				</div>
			</li>
            <li><a href="#">Television</a>
            </li>
            <li><a href="#">Books</a>
            </li>
            <li><a href="#">Arts</a>
            </li>
            <li><a href="#">Studying</a>
            </li>
            <li><a href="#">Gaming</a>
            </li>

        </ul>
    </div>

    <!-- Page content -->
    
	<br>

	<div class="row">
	    <div class="col-md-4">

			<% @interests.each do |inter| %>
				<div class="IntItem">
			      	<div class="Ints">
			        	<div class="IntsImg" style="background:url(<%= inter.picture_url %>); width:100%; height:120px; background-size:cover; background-repeat:no-repeat; background-position:50% 50%; -moz-border-radius:0px; -webkit-border-radius:4px 4px 0px 0px; border-radius:4px 4px 0px 0px; ">
			        	</div>
		        		<div class="col-md-12">
		          			<center>
		          				<IntsName>
		          					<%= inter.name %>
		          				</IntsName>
		          			</center>
		        		</div>
			      	</div>
				    <center> <div class="IntsCat">
		    			<CatTitle href="#"> music </CatTitle>
			    	</div> </center>
			    </div>
			    <br>
		    <% end %>
		    



	    </div>
	    <div class="col-md-4">

			<% @interests.each do |inter| %>
				<div class="IntItem">
			      	<div class="Ints">
			        	<div class="IntsImg" style="background:url(<%= inter.picture_url %>); width:100%; height:120px; background-size:cover; background-repeat:no-repeat; background-position:50% 50%; -moz-border-radius:0px; -webkit-border-radius:4px 4px 0px 0px; border-radius:4px 4px 0px 0px; ">
			          		<div class="col-md-12">
				          		<div class="IntsBadge">
				            		<center><span class="badge">1357</span></center>
				          		</div>
			          		</div>
			        	</div>
		        		<div class="col-md-12">
		          			<center>
		          				<IntsName>
		          					<%= inter.name %>
		          				</IntsName>
		          			</center>
		        		</div>
			      	</div>
				    <center> <div class="IntsCat">
		    			<CatTitle href="#"> music </CatTitle>
			    	</div> </center>
			    </div>
			    <br>
		    <% end %>
		    


	    </div>
	    <div class="col-md-4">

			<% @interests.each do |inter| %>
				<div class="IntItem">
			      	<div class="Ints">
			        	<div class="IntsImg" style="background:url(<%= inter.picture_url %>); width:100%; height:120px; background-size:cover; background-repeat:no-repeat; background-position:50% 50%; -moz-border-radius:0px; -webkit-border-radius:4px 4px 0px 0px; border-radius:4px 4px 0px 0px; ">
			          		<div class="col-md-6">
				        		<div class="IntsInfoNotif">
				          			<center><span class="label label-info">Television</span></center>
				        		</div>
			          		</div>
			          		<div class="col-md-6">
				          		<div class="IntsBadge">
				            		<center><span class="badge">1357</span></center>
				          		</div>
			          		</div>
			        	</div>
		        		<div class="col-md-12">
		          			<center>
		          				<IntsName>
		          					<%= inter.name %>
		          				</IntsName>
		          			</center>
		        		</div>
			      	</div>
				    <center> <div class="IntsCat">
		    			<CatTitle href="#"> music </CatTitle>
			    	</div> </center>
			    </div>
			    <br>
		    <% end %>
		    



	    </div>
	</div>







	<div class="row">

		<br>
		<br>
		<br>

		<body>
		<% @interests.each do |inter| %>
		  <%= inter.name %><%= link_to 'Destroy', inter, method: :delete %><%= link_to 'Edit', edit_interest_path(inter) %><br>
		<% end %>
		</body>

	</div>


</div>










<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>
<!-- Custom JavaScript for the Menu Toggle -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
});
</script>