<!DOCTYPE html>
<html>
  <head>
  
<!-- FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:500italic' rel='stylesheet' type='text/css'> <!-- font-family: 'Roboto', sans-serif; -->
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'> <!-- font-family: 'Pacifico', cursive; -->
        <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:600' rel='stylesheet' type='text/css'> <!-- font-family: 'Cabin Condensed', sans-serif; -->
        <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'> <!-- font-family: 'Yellowtail', cursive; -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> <!-- FONT AWESOME ICONS -->


        
    <title>intersite</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-custom">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Findme", root_url, id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li> <%= link_to "Home", root_url %> </li>
              <li> <%= link_to "Help", help_path %> </li>
              <% if signed_in? %>
              <li> <%= link_to "Users", users_path %> </li>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account 
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li> <%= link_to "Profile", current_user %> </li>
                    <li> <%= link_to "Settings", '#' %> </li>
                    <li class="divider"> </li>
                    <li> <%= link_to "Sign out", signout_path, method: "delete" %> </li>
                  </ul>
                </li>

                <div class="pull-right navbar-text-img">
                  <ul class="pull-right">
                    <%= link_to gravatar_for(current_user), current_user %>
                  </ul>
                </div>




                <% else %>
                  <li> <%= link_to "Sign in", signin_path %> </li>
                <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
